.wrapper-infoScan {
  .mui-container-fluid {
    background: transparent !important;
  }
  .info-container {
    max-width: 680px;
    margin: auto;
    display: block;
    .expansion-panel {
      background-color: #fff;
      margin: 16px 0;
      box-shadow: 0 3px 1px -2px #00000033, 0 2px 2px 0 #00000024,
        0 1px 5px 0 #0000001f;
      .p {
        padding: 10px 60px;
      }
      .title {
        margin: 20px 24px;
        font-size: 14px;
      }
      .slider {
        padding-left: 64px;
        width: 500px;
        height: 80px;
        .ng-slider {
          display: inline-block;
          position: relative;
          height: 4px;
          width: 100%;
          margin: 35px 0 15px;
          vertical-align: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          -ms-touch-action: pan-y;
          touch-action: pan-y;
        }
      }
      .expansion-panel-header {
        padding: 15px 24px;
      }
      .checked {
        -webkit-appearance: none;
        appearance: none;
        padding: 13px 27px;
        border-radius: 16px;
        background: radial-gradient(
            circle 9px,
            white 100%,
            transparent calc(100% + 1px)
          )
          #ccc -14px;
        transition: 0.3s ease-in-out;
      }
      :checked {
        background-color: #e11f26;
        background-position: 14px;
      }
      .ng-invalid{
          padding: 10px 60px;
      }
      .checkboxes-form{
          flex-wrap: wrap;
          .mui-checkbox{
              width: 30%;
              margin: 5px auto
          }
      }
      &.hidden{
          height: 60px;
          overflow: hidden;
      }
    }
  }
}
